<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Karaboss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Karaboss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <Karaboss.Properties.Settings>
            <setting name="StartDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="frmMainMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmMainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmMainSize" serializeAs="String">
                <value>600, 600</value>
            </setting>
            <setting name="frmPlayerMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmPlayerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmPlayerSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="frmMainSplitterDistance" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="frmScoreMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmScoreLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmScoreSize" serializeAs="String">
                <value>400, 800</value>
            </setting>
            <setting name="frmLyricMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmLyricLocation" serializeAs="String">
                <value>0, 200</value>
            </setting>
            <setting name="frmLyricSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="frmLyricsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmLyricsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmLyricsSize" serializeAs="String">
                <value>400, 600</value>
            </setting>
            <setting name="TxtBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TxtNextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TxtHighlightColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="TxtBeforeColor" serializeAs="String">
                <value>YellowGreen</value>
            </setting>
            <setting name="frmLyricsEditMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmLyricsEditLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmLyricsEditSize" serializeAs="String">
                <value>760, 500</value>
            </setting>
            <setting name="TxtNbLines" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="dirSlideShow" serializeAs="String">
                <value />
            </setting>
            <setting name="TxtContourColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="freqSlideShow" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SizeMode" serializeAs="String">
                <value>StretchImage</value>
            </setting>
            <setting name="textEncoding" serializeAs="String">
                <value>Ascii</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>Undefined</value>
            </setting>
            <setting name="MuteMelody" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filePlaylists" serializeAs="String">
                <value />
            </setting>
            <setting name="drivePlaylists" serializeAs="String">
                <value>"C:\\"</value>
            </setting>
            <setting name="ShowSequencer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowKaraoke" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackGroundOption" serializeAs="String">
                <value>"Diaporama"</value>
            </setting>
            <setting name="frmPianoRollMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmPianoRollLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmPianoRollSize" serializeAs="String">
                <value>760, 500</value>
            </setting>
            <setting name="SongRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="lvFileNameColumn" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="frmSearchMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmSearchLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmSearchSize" serializeAs="String">
                <value>677, 334</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoteUrl" serializeAs="String">
                <value>https://karaboss.lacharme.net/AutoupdateService.xml</value>
            </setting>
            <setting name="frmCDGWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmCDGWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmCDGWindowSize" serializeAs="String">
                <value>316, 255</value>
            </setting>
            <setting name="frmCDGPlayerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="UpdFrequency" serializeAs="String">
                <value>Monthly</value>
            </setting>
            <setting name="lastUpdCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="frmExplorerMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmExplorerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmExplorerSize" serializeAs="String">
                <value>1200, 800</value>
            </setting>
            <setting name="frmExplorerSplitterDistance" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="RetrieveSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmPrintMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmPrintLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmPrintSize" serializeAs="String">
                <value>600, 600</value>
            </setting>
            <setting name="filePlaylistGroups" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value>http://myproxy.fr:8080</value>
            </setting>
            <setting name="ProxyUserName" serializeAs="String">
                <value>UserName</value>
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="frmPianoTrainingMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmPianoTrainingLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmPianoTrainingSize" serializeAs="String">
                <value>600, 600</value>
            </setting>
            <setting name="DisplayBalls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LyricsOptionDisplay" serializeAs="String">
                <value>"Center"</value>
            </setting>
            <setting name="bLyricsBackGround" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bPauseBetweenSongs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CountdownSongs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TransposeAmount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Velocity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="frmGuitarTrainingMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmGuitarTrainingLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmGuitarTrainingSize" serializeAs="String">
                <value>600, 600</value>
            </setting>
            <setting name="PianoRollZoomX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PianoRollZoomY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="bColorContour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KaraokeFont" serializeAs="String">
                <value>Arial Narrow, 8.25pt</value>
            </setting>
            <setting name="SepSyllabe" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="SepLine" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="SepParagraph" serializeAs="String">
                <value>\</value>
            </setting>
            <setting name="FavoriteSongs" serializeAs="String">
                <value />
            </setting>
            <setting name="FrmABCnotationSize" serializeAs="String">
                <value>746, 618</value>
            </setting>
            <setting name="FrmABCnotationLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="FrmABCnotationAOT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadABCAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TagsEdit" serializeAs="String">
                <value />
            </setting>
            <setting name="TagsPerform" serializeAs="String">
                <value />
            </setting>
            <setting name="HighlightABC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Toolbars" serializeAs="String">
                <value />
            </setting>
            <setting name="FrmTextPlayerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FrmTextPlayerMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmTextPlayerSize" serializeAs="String">
                <value>600, 600</value>
            </setting>
            <setting name="ShowTextEditor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveDefaultOutputDevice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultOutputDevice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bShowParagraph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bForceUppercase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmChordsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmChordsSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="frmChordsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LyricsEditFont" serializeAs="String">
                <value>Segoe UI, 9pt</value>
            </setting>
            <setting name="ChordNextColor" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="ChordHighlightColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="bShowChords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShowXmlChords" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChordsMapCellSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ChordsMapColumns" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ChordsMapZoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ChordsMapModifyZoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="bLrcForceUpperCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bLrcRemoveAccents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bLrcRemoveNonAlphaNumeric" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lrcFormatLinesSyllabes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bLrcCutLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LrcCutLinesChars" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="bLrcForceLowerCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmMp3PlayerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmMp3LyricsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmMp3LyricsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmMp3LyricsSize" serializeAs="String">
                <value>600, 600</value>
            </setting>
            <setting name="frmMp3LyricsEditLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmMp3LyricsEditMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmMp3LyricsEditSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="bProgressiveHighlight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LrcMillisecondsDigits" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="frmLrcGeneratorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmLrcGeneratorMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmLrcGeneratorSize" serializeAs="String">
                <value>600, 600</value>
            </setting>
            <setting name="frmMp3PlayerMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmMp3PlayerSize" serializeAs="String">
                <value>600, 600</value>
            </setting>
        </Karaboss.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Karaboss.Properties.Settings>
            <setting name="BassRegistrationEmail" serializeAs="String">
                <value>fabrice.lacharme@gmail.com</value>
            </setting>
            <setting name="BassRegistrationKey" serializeAs="String">
                <value>2X1632326152222</value>
            </setting>
        </Karaboss.Properties.Settings>
    </applicationSettings>
</configuration>
